body {
	width: 560px; 
	height: 400px; 
	background-image: url(http://dbmmo.com/images/bg.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;

	font-family: arial;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 560px; 
	height: 400px; 
	background-image: url(bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}

h1 {
	color: white;
}

li, a {
	color: #40;
}

.secondary {
	background: none;
	color: black;
}

#mark1{
	background: #666;
	color: white;
	padding: 5px 10px;
	display: inline-block;
}

#result1, #result2, #result3, #result4 {
	display: inline-block;
}

#pic1 {
	background: white;
	display: table-footer-group;
	margin: 2% 2%;
	padding: 5%;
}
.myPanel {
	border: 1px solid black;
	color: white;
	font-size: 150%;
	margin: 3%;
	box-shadow: 0px 0px 5px #444;
}

.myPanel .myHeader {
	background-color: #9849B3;
	border-radius: 5px 5px 0px 0px;
	padding: 10px 20px;
}

.myPanel .myContent {
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	color: black;
	padding: 20px;
}

.opBtn {
	padding: 1%;
}

.operation {
	display: none;
}

#button0 {
	background-color: white;
	border: 1px solid black;
	display: inline-block;
	font-size: 150%;
	padding: 1%;
}

.myPanel .button1 {
	display: none;
}

.myPanel:hover .button1 {
	display: inline-block;
}

.hide {
	display: none;
}

#test1 {
	display: initial;
}